<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <style>
        div{
            justify-content: center;
            
        }
        h1{
            font-size: 5rem;
        }
    </style>
</head>
<body>
    {{>header}}
    <div>
        <h1>{{errorMessage}}</h1>
    </div>
    {{>footer}}
</body>
</html>